<form class="celebration-form" action="/dashboard" method="GET">
    <div class="row mb-3" style="color: white;">
      <div class="col-sm-6"><br><br>
        <label for="lookingFor" class="form-label">
          <center>I'm looking to celebrate</center>
        </label>
        <select class="form-select" id="lookingFor">
          <option value="marriage">A Marriage</option>
          <option value="birthday">A Birthday</option>
        </select>
      </div>

      <div class="col-sm-6"><br><br>
        <label for="person" class="form-label">for</label>
        <select class="form-select" id="lookingFor">
          <option value="marriage">self</option>
          <option value="birthday">friend</option>
          <option value="marriage">son</option>
          <option value="birthday">daughter</option>
          <option value="birthday">relative</option>
          <option value="birthday">others</option>
        </select>
      </div>
      <div class="col-sm-6"><br><br>
        <label for="place" class="form-label">at</label>
        <select class="form-select" id="lookingFor">
          <option value="marriage">Kolkata</option>
          <option value="birthday">Delhi</option>
          <option value="marriage">Mumbai</option>
          <option value="birthday">Chgennai</option>
          <option value="birthday">Others</option>
        </select>
      </div>
      <div class="col-sm-6"><br><br>
        <label for="celebrationDate" class="form-label">on</label>
        <div class="input-group">
          <input type="date" class="form-control" id="celebrationDate" required>
        </div>
      </div>
      <div class="col-sm-6">
        <br>
        <button class="btn btn-primary" type="submit">Let's Begin</button>
      </div>
    </div>

    <div class="row mb-3">



    </div>

  </form>